<app-container>
  <article class="mt-10">
    @if (postIsLoading()) {
      <app-skeleton-post-detail />
    } @else if (postIsError()) {
      Erro ao carregar o post.
    } @else {
      <app-post-header [post]="postData()" [author]="authorData()" />
      <app-post-content [body]="postData()?.body" />
    }
  </article>
  <section class="mt-8 mb-10">
    <app-comments-section
      [comments]="commentsData()"
      [isLoading]="commentsIsLoading()"
      [isError]="commentsIsError()"
      (submitComment)="submitComment($event)"
    />
  </section>
</app-container>
