<main class="container mx-auto mt-8">
  <section>
    <div>
      @if (postIsLoading()) { Carregando... } @else if (postIsError()) { Erro ao
      carregar } @else {
      <div class="flex flex-col gap-8 max-w-2xl">
        <section class="flex flex-col gap-4">
          <h1 class="text-2xl">{{ postData()?.title }}</h1>
          <h3>{{ postData()?.body }}</h3>
        </section>
        <section class="flex flex-col gap-1">
          <h3 class="text-xl">Written by {{ authorData()?.name }}</h3>
          <p>{{ authorData()?.address?.city }}</p>
          <p>{{ authorData()?.website }}</p>
        </section>
      </div>
      }
    </div>
  </section>
</main>
