<section class="mt-14 flex flex-col gap-8 container mx-auto">
  <div class="flex justify-between items-center">
    <h1 class="text-xl font-medium">Últimas notícias</h1>
    <button
      (click)="toggleView()"
      class="px-4 py-2 rounded-lg bg-blue-600 text-white text-sm hover:bg-blue-700 transition cursor-pointer"
    >
      {{ isVertical ? "Visualização em grade" : "Visualização em lista" }}
    </button>
  </div>

  <div
    [ngClass]="isVertical ? 'grid grid-cols-2 gap-8' : 'grid grid-cols-4 gap-8'"
  >
    @for (item of data$ | async; track $index) {
    <div
      class="cursor-pointer rounded-2xl transition duration-500 flex"
      [ngClass]="isVertical ? 'flex-row items-center' : 'flex-col'"
    >
      <div
        class="overflow-hidden rounded-xl"
        [ngClass]="
          isVertical ? 'w-32 h-32 mr-6 flex-shrink-0' : 'w-full h-48 mb-4'
        "
      >
        <img
          src="https://picsum.photos/200/300"
          alt="Notícia"
          class="w-full h-full object-cover"
        />
      </div>
      <div class="flex flex-col">
        <h1 class="text-lg text-gray-700 font-semibold">
          {{ item.title | ellipsis : 32 }}
        </h1>
        <p class="mt-3 text-sm text-gray-600">
          {{ item.body | ellipsis : 120 }}
        </p>
      </div>
    </div>
    }
  </div>
</section>
