<app-container>
  <div class="my-10 flex flex-col gap-6">
    @if (isLoading()) {
      <div class="flex flex-col gap-8 animate-pulse">
        <!-- Título -->
        <div class="h-8 w-60 bg-slate-300 rounded"></div>

        <!-- Lista de publicações -->
        <section class="flex flex-col gap-6">
          @for (skeleton of [0, 1, 2, 4, 5]; track $index) {
          <article class="flex flex-col items-start gap-3">
            <div class="h-5 w-3/4 bg-slate-300 rounded"></div>
            <div class="h-4 w-full bg-slate-300 rounded"></div>
            <div class="h-4 w-5/6 bg-slate-300 rounded"></div>
          </article>
          <hr class="border-slate-200" />
          }
        </section>
      </div>
    } @else if (isError()) {
    <p>Erro ao carregar comentários</p>
    } @else {
    <header class="flex flex-col gap-8">
      <h1 class="text-2xl font-medium">
        Publicações do usuário ({{ data()?.length }})
      </h1>
    </header>
    <section class="flex flex-col gap-4" aria-label="Comentários">
      @for (post of data(); track $index) {
      <article class="flex flex-col items-start gap-2">
        <header class="flex flex-col gap-3">
          <p class="text-sm font-medium">{{ post.title }}</p>
        </header>
        <p class="text-sm">
          {{ post.body }}
        </p>
      </article>
      <hr class="border-slate-200" />
      }
    </section>
    <p class="mx-auto text-sm text-slate-500">Final da lista</p>
    }
  </div>
</app-container>
