<app-container>
  <div class="my-10 flex flex-col gap-6">
    <app-user-header
      [userData]="userData()"
      [isLoading]="authorIsLoading()"
    ></app-user-header>
    <hr class="border-slate-100 border-1" />
    @if (postsIsLoading()) {
    <app-user-posts-skeleton></app-user-posts-skeleton>
    } @else if (postsIsError()) {
    <div
      class="border-slate-200 border-1 rounded-sm w-full flex flex-col gap-6 justify-center items-center py-12"
    >
      <p class="text-md text-slate-500">Usuário não encontrado.</p>
      <a routerLink="/">
        <button
          class="w-full md:w-auto px-4 py-3 cursor-pointer rounded-lg bg-slate-800 text-white text-sm hover:bg-slate-900 transition"
        >
          Voltar para página inicial
        </button>
      </a>
    </div>
    } @else {
    <header class="flex flex-col gap-8">
      <h1 class="text-2xl font-medium">
        Publicações do usuário ({{ data()?.length }})
      </h1>
    </header>
    <section class="flex flex-col gap-4" aria-label="Comentários">
      @for (post of data(); track $index) {
      <a
        class="cursor-pointer hover:underline"
        [routerLink]="['/posts/', post.id]"
      >
        <article class="flex flex-col items-start gap-2">
          <header class="flex flex-col gap-3">
            <p class="text-sm font-medium">{{ post.title | titlecase }}</p>
          </header>
          <p class="text-sm">
            {{ post.body | titlecase }}
          </p>
        </article>
      </a>
      <hr class="border-slate-200" />
      }
    </section>
    <p class="mx-auto text-sm text-slate-500">Final da lista</p>
    }
  </div>
</app-container>
