<footer class="border-t border-slate-200 mt-20">
  <app-container>
    <div class="max-w-7xl mx-auto py-12 flex flex-col md:flex-row items-center justify-between gap-6">

      <div class="flex flex-col items-center md:items-start text-center md:text-left">
        <h2 class="text-xl font-bold text-slate-800">smarte.rs blog</h2>
      </div>

      <nav class="flex gap-6">
        <a href="https://www.linkedin.com/in/gizbert/" target="_blank" class="hover:underline text-slate-500 text-sm hover:text-slate-700 transition-colors">
          desenvolvido por Carlos Gizbert
        </a>
      </nav>

    </div>

    <div class="mb-10 text-center">
      <p class="text-xs text-slate-400">
        © {{ currentYear }} smarte.rs blog. Todos os direitos reservados.
      </p>
    </div>
  </app-container>
</footer>
